[Unit]
Description=Trigger Aperture garbage collection
After=aperture.service

[Service]
Type=oneshot
ExecStart=%h/.nix-profile/bin/aperture trigger gc
