# Traefik static configuration template for Aperture.
#
# Substitute placeholders at install time:
#   @ENTRYPOINT_ADDRESS@   - public HTTP listen address, for example :8443
#   @DYNAMIC_CONFIG_DIR@   - absolute path to watched dynamic config directory

entryPoints:
  web:
    address: "@ENTRYPOINT_ADDRESS@"

providers:
  file:
    directory: "@DYNAMIC_CONFIG_DIR@"
    watch: true

api:
  dashboard: false
  insecure: false
